
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
@using GridMvc.Html

@model List<ECommerceProject.UI.Web.Areas.Admin.Models.CategoryVM>
<html>

<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />

    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/gridmvc.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    


    <div>
        
                    @Html.Grid(Model).Named("Categories").Columns(x =>

               {

               x.Add(y => y.ID);
               x.Add(y => y.Name).Sortable(true).Filterable(true).Titled("Category Name");
               x.Add(y => y.Description).Sortable(true).Filterable(true).Titled("Category Description");


               x.Add().Encoded(false).Sanitized(false).RenderValueAs(y =>@<span class="glyphicon glyphicon-remove"><a href="/Admin/Category/DeleteCategory/@y.ID">Delete</a></span>);
               x.Add().Encoded(false).Sanitized(false).RenderValueAs(y =>@<a href="/Admin/Category/UpdateCategory/@y.ID">Update</a>);

               }).WithPaging(6);
             
    

       
    </div>
</body>
</html>
<script>
   
    $(function () {
        pageGrids.categories.onRowSelect(function (e) {
            console.log(e.row)
        });
    });
</script>




